<div class="prize-form">
  <h3>{{isedit?updatenew:createnew}}</h3>
  <form [formGroup]="newform" class="form-horizontal" (submit)="isedit?update():create()">
    <!--<div class="form-group">
      <label class="control-label col-sm-4" for="brand_name">Prize Type:</label>
      <div class="col-sm-7">
        <select name="brand_name" formControlName="brand_name">
          <option *ngFor="let b of brands" [value]="b">{{b}}</option>
        </select>
      </div>
    </div>-->
    <div class="form-group">
      <label class="control-label col-sm-4" for="prize_value">Prize Type:</label>
      <div class="col-sm-7">
        <input class="form-control" type="text" name="prize_value" formControlName="prize_value">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" for="prize_type">Prize Type:</label>
      <div class="col-sm-4" *ngFor="let t of types">
        <input type="radio" name="prize_type" [value]="t" formControlName="prize_type"> {{t}}
      </div>
    </div>
    <div class="form-group">
      <label for="prize_probability" class="control-label col-sm-4">Prize Probability:</label>
      <div class="col-sm-7">
        <div class="slidecontainer">
          <input #slider type="range" class="slider" name="prize_probability" min="0" max="1" step="0.01" formControlName="prize_probability"> {{slider.value}}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="prize_spots" class="control-label col-sm-4">Prize Spots Number:</label>
      <div class="col-sm-7">
        <input type="number" name="prize_spots" min="0" max="100" formControlName="prize_spots">
      </div>
    </div>
    <button class="btn btn-primary col-sm-6" type="submit">
      {{isedit?edit:add}}
    </button>


  </form>
  <br/> <br/> <br/>
  <div class="form-group">
    <div *ngIf="isPrizeExceded" class="alert alert-danger" role="alert">
      {{prizeExceeded}}
    </div>
  </div>
</div>